.body {
   font-family: "Roboto", sans-serif;
}

.header-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-logo span {
    font-family: 'Raleway';
    color: #4D5AE5;
}

.header-menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    color: #2E2F42;
}

.header-menu-link:hover{
    color: #404BBF;
}

.hero-title {
   
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.hero-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
   
}

.hero-button:hover {
    color: #404BBF;
}

.options-item {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.option-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.information-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;

}

.information-members{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   color: #2E2F42;
}

.information-members-option{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.explanation{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color:#2E2F42;
}


